*{
    margin: 0;
}
.fonas{
    height: 100vh;
    background-image: url("ocean.jpg");
    background-size: cover;
}
.saule{
    width: 75px;
    height: 75px;
    background-color: rgb(236, 236, 28);
    border-radius: 50%;
    position: relative;
    top: 10%;
    left: 10%;
    animation-duration: 8s;
    animation-name: sunsetas;
}
@keyframes sunsetas {
    from{
        opacity: 1;
        top: 10%;
        left: 10%;
    }
    to{
        opacity: 0;
        top: 70%;
        left: 60%;
    }
}