*{
    margin: 0;
}
.fonas{
    height: 100vh;
    background-image: url("ocean.jpg");
    background-size: cover;
    animation-duration: 16s;
    animation-name: tamsejimas;
    animation-iteration-count: infinite;
}
.saule{
    width: 75px;
    height: 75px;
    background-color: rgb(236, 236, 28);
    border-radius: 50%;
    position: relative;
    top: 10%;
    left: 10%;
    animation-duration: 16s;
    animation-name: sunsetas;
    animation-iteration-count: infinite;
}
.lektuvas{
    background-image: url("lektuvelis.png");
    height: 40vh;
    top: 25%;
    left: 20%;
    position: relative;
    background-repeat: no-repeat;
    animation-duration: 8s;
    animation-name: skrydis;
    animation-iteration-count: infinite;
}
@keyframes sunsetas {
    from{
        opacity: 1;
        top: 10%;
        left: 10%;
    }
    to{
        opacity: 0;
        top: 70%;
        left: 60%;
    }
}
@keyframes skrydis {
    from{
        opacity: 1;
        top: 25%;
        left: 0%;
    }
    to{
        opacity: 1;
        top: 25%;
        left: 70%;
    }
}
@keyframes tamsejimas {
    from{
        filter: brightness(1);
    }
    to{
        filter: brightness(0.2);
    }
}